body {
  margin: 0;
  
  background-color: #111;
  color: #D3D3D3;
}



#notifications {
  /* This should be hidden initially, and only
     shown if there is a notification. */
  display: none;
  
  padding: 10px;
  
  background-color: rgb(255,180,180);
  color: #111;
  
  font-family: Arial,sans-serif;
  font-size: 20px;
}



#overall-container {
  margin: 20px;
}



#settings-button {
  float: right;
}



#settings-form div {
  margin-bottom: 0.5em;
}

div.form-footnote {
  font-size: 12px;
}




/* Section headers */
h2.section {
  /* Go under any streams/videos of the previous section */
  clear: both;
  
  font-family: Arial,sans-serif;
}


/* Container for all streams / all videos */
.media-container {
  /* Ensure that the element size includes the floating elements. This allows
  the header of the next container to be decently spaced from this container. */
  overflow: auto;
}

/* Container for single stream/video */
.media-container a {
  /* Allow media to be placed side by side */
  float: left;
  
  /* Ensure that the clickable link area is restricted to the area we define */
  display: block;
  /* Ensure that this matches the media thumbnail width */
  width: 240px;
  
  /* This is padding, not margin, to include it in the mouseover
     highlight area. */
  /* top left bottom right */
  padding: 10px 10px 20px 10px;
  
  /* No underlines below the link text */
  text-decoration: none;
}

.media-container a:hover {
  /* Makes the stream block's background color change on mouseover. */
  background-color: #222;
}

/* Container for single game (only specifying differences
   from streams/videos here) */
.media-container.games a {
  width: 140px;
}

.thumbnail-ctnr {
  /* Allow descendants to be absolute-positioned within this container. */
  position: relative;
  
  /* Try to make the grid layout work by making all thumbnail containers
  the same size.
  Pick a height that goes well with the thumbnail width.
  Hide any thumbnail overflow. */
  height: 135px;
  overflow: hidden;
  
  /* Mimic the spacing around the text to make things look more balanced.
     This should be a margin, not padding, so the game thumbnail on
     streams can still be positioned properly without knowing this number. */
  margin-bottom: 5px;
}
.thumbnail-ctnr img.media-thumbnail {
  /* Ensure that this matches the stream container width */
  width: 240px;
}
.thumbnail-ctnr.twitch-stream img.media-thumbnail {
  /* Twitch streams only:
  Apparently we should squash the thumbnail to make it 16:9?
  At least Twitch following does the same thing. I'm not sure why the
  thumbnails are actually 14.4:9 though (e.g. 320x200).*/
  height: 135px;
}
.thumbnail-ctnr.twitch-video img.media-thumbnail {
  /* Twitch videos only:
  Cut off the black bar on the top.
  The parent's overflow:hidden hides the black bar on the bottom.
  After cutting off the black bars, the result ends up being about 16:9. */
  margin-top: -23px;
}
.thumbnail-ctnr.nico-stream {
  /* Nico streams only:
  In general we'll only have the community icon, which is 128x128.
  That needs to be sized and positioned appropriately in the 16:9 space,
  and it needs a background color too. */
  text-align: center;
  background-color: black;
}
.thumbnail-ctnr.nico-stream img.media-thumbnail {
  width: 135px;
}


/* Game box for streams/videos */
.thumbnail-ctnr img.game-image {
  position: absolute;
  /* We define the position from the thumbnail, not the entire grid element. */
  right: 0;
  bottom: 0;
  
  width: 40px;
  
  border: 3px solid rgb(144,144,144);
}
.thumbnail-ctnr img.game-image:hover {
  border: 3px solid rgb(255,255,255);
}


/* Game box for followed games */
img.followed-game {
  /* Ensure that this matches the container width */
  width: 100%;
}



/* Text elements below/around a media thumbnail */ 

.media-container div {
  color: rgb(211,211,211);
  
  font-family: Arial, sans-serif;
  
  font-size: 0.9em;
  line-height: 1.5em;
  
  /* Just cut off any text that goes beyond the allotted space */
  white-space: nowrap;
  overflow: hidden;
}

.media-container div.view-count {
}

.media-container div.channel-name {
}

.media-container span.site-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  /* top/bottom left/right */
  margin: 0 4px;
}
.media-container span.site-indicator.twitch {
  background-color: rgb(100,65,165);
}
.media-container span.site-indicator.hitbox {
  background-color: rgb(149,198,0);
}
.media-container span.site-indicator.nico {
  background-color: rgb(160,160,160);
}

.media-container div.media-game {
  font-size: 0.8em;
  color: rgb(160,160,160);
  font-style: italic;
}

.media-container div.minor-text {
  font-size: 0.8em;
  color: rgb(130,130,130);
}

.media-container div.video-view-count,
.media-container div.video-duration {
  position: absolute;
  
  background: black;
  padding: 0 4px;
  opacity: 0.75;
  
  font-size: 12px;
}
.media-container div.video-view-count {
  left: 4px;
  top: 4px;
}
.media-container div.video-duration {
  right: 4px;
  top: 4px;
}
